<a href="https://colab.research.google.com/github/Noemigb2001-09/ai2023-2NoemiG/blob/main/Practica1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num_1=1

In [ ]:
num_2 = 2

In [ ]:
print(num_1+num_2)

3

In [ ]:
pote = 1**num_2

In [ ]:
print(pote)

1

In [ ]:
aux_1=True
aux_2=False
print(aux_1 and aux_2)
print(aux_1 or aux_2)
print(not aux_1)
print(not aux_2)

False
True
False
True

In [ ]:
myName="Alejandra"
print(myName)
print(myName.upper())
print(myName.lower())

Alejandra
ALEJANDRA
alejandra

In [ ]:
tmp='Alejandra ; Arteaga ; Maria'
print(tmp)
print(tmp.split(';'))

Alejandra ; Arteaga ; Maria
['Alejandra ', ' Arteaga ', ' Maria']

In [ ]:
lista=('cuaderno','lapiz','borrador','regla')
print(lista)
nuevo_objeto='hoja'
# lista.append(nuevo_objeto)
print(lista)

('cuaderno', 'lapiz', 'borrador', 'regla')
('cuaderno', 'lapiz', 'borrador', 'regla')

In [ ]:
newListeNum=list(range(20))
print(newListeNum)
print(newListeNum[5:11])
print(newListeNum[-1])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[5, 6, 7, 8, 9, 10]
19